@import '../css/site-bar.css';

@font-face {
    font-family: yekan;
    src: url(fonts/yekan/Yekan.ttf);
}

:root {
    --color--text: rgba(83, 83, 83, 0.867);
    --color--white: #fff;
    --color--primary: #336fb7;
    --color--orage: #f60;
}


body {
    font-family: yekan;
}

a {
    color: var(--color--white);
    text-decoration: none;
}

.scroller-arrow {
    position: absolute;
    z-index: 99;
    bottom: 40px;
    animation: arrowDown 3s infinite;
}

.scroller-arrow .scroller-arrow__icon {
    cursor: pointer;
    font-size: 40px;
}

@keyframes arrowDown {
    0% {
        bottom: 40px;
        color: black;
    }

    20% {
        bottom: 20px;
        color: rgba(131, 131, 131, 0.527);
    }

    100% {
        bottom: 40px;
        color: black;
    }
}

/* Slogan */

.Slogan-site {
    text-align: center;
    background-color: var(--color--primary);
    padding: 30px;
}

.Slogan-site span {
    color: var(--color--white);
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
}

/* access */

.access {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
    margin-top: 50px;
}

.access-item__title {
    position: absolute;
    background-color: rgba(5, 5, 5, 0.445);
    width: 100%;
    height: 100%;
    z-index: 555;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    color: var(--color--white);
}

.access-item:hover .access-item__title {
    display: none;
}

/* scroller-arrow */

.scroller-arrow__container {
    padding: 70px 0;
    margin-bottom: 50px;
}

/* content */
.content-news__main-box {
    padding: 0 15px;
}

.content-news__box {
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.301);
    background-color: var(--color--white);
}

.menu-title {
    background-color: #f15a22;
    color: var(--color--white);
    width: 100%;
    display: block;
    padding: 12px 10px;
    font-size: 20px;
    font-weight: bold;
    text-align: right;
}

.content-news__img {
    display: flex;
    justify-content: center;
}

.content-news__img img {
    height: 80%;
    width: 90%;
    border: 3px solid var(--color--white);
    box-shadow: 0 0 2px 2px black;
}
.content-news div {
    margin-top: 10px;
}


.news-border {
    margin: 15px 0;
}

/* gallery */

.gallery {
    padding-bottom: 100px;
}

.gallery-content {
    width: 100%;
    height: 100%;
}

.gallery-content img {
    height: 200px;
    width: 100%;
}

.gallery-content__texts {
    padding: 20px 15px;

}

.show-more__gallery {
    background-color: rgb(218, 216, 216);
    color: var(--color--text);
    width: 100%;
    padding: 10px 30px;
    text-align: right;
    display: block;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0 0 10px 1px rgba(97, 97, 97, 0.678);
}

.show-more__gallery:hover {
    background-color: rgb(255, 255, 255);
    color: #f15a22;

}

/* footer */

footer {
    background-image: url(../image/footer.png);
    background-position: center;
    background-size: cover;
    padding-top: 100px;
}

.footer-right {
    margin-bottom: 20px;
}

.footer-title {
    font-size: 25px;
    color: var(--color--primary);
    font-weight: bold;
}

.footer-hr {
    border: 2px dashed var(--color--text);
}

.footer-text,
.footer-icon {
    color: var(--color--text);
    font-size: 15px;
    font-weight: bold;
    transition: 0.1s;
}

.footer-text:hover {
    color: var(--color--primary);
    transform: scale(1.1);
}

.footer-img {
    width: 32px;
    height: 32px;
    border: 1px solid var(--color--white);
    box-shadow: 0 0 5px 1px rgb(0 0 0 / 40%);
}


























.description-text {
    color: var(--color--text);
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
    margin-top: 20px;
    padding-bottom: 30px;
}

.link-text {
    color: var(--color--primary);
    font-size: 20px;
    font-weight: bold;
}

.link-text:hover {
    color: #f15a22;
}